<label for="name">
	<f:translate key="tx_g40cloudfile_domain_model_event.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="projectNr">
	<f:translate key="tx_g40cloudfile_domain_model_event.project_nr" />
</label><br />
	<f:form.textfield property="projectNr" /><br />
<label for="description">
	<f:translate key="tx_g40cloudfile_domain_model_event.description" />
</label><br />
	<f:form.textfield property="description" /><br />