<label for="filename">
	<f:translate key="tx_g40cloudfile_domain_model_file.filename" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="filename" /><br />
<label for="description">
	<f:translate key="tx_g40cloudfile_domain_model_file.description" />
</label><br />
	<f:form.textfield property="description" /><br />
<label for="field1">
	<f:translate key="tx_g40cloudfile_domain_model_file.field1" />
</label><br />
	<f:form.textfield property="field1" /><br />
<label for="field2">
	<f:translate key="tx_g40cloudfile_domain_model_file.field2" />
</label><br />
	<f:form.textfield property="field2" /><br />
<label for="field3">
	<f:translate key="tx_g40cloudfile_domain_model_file.field3" />
</label><br />
	<f:form.textfield property="field3" /><br />