<table class="tx-g40cloudfile" >
	<tr>
		<td>
			<f:translate key="tx_g40cloudfile_domain_model_file.filename" />
		</td>
		<td>
			{file.filename}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_g40cloudfile_domain_model_file.description" />
		</td>
		<td>
			{file.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_g40cloudfile_domain_model_file.text1" />
		</td>
		<td>
			{file.text1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_g40cloudfile_domain_model_file.text2" />
		</td>
		<td>
			{file.text2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_g40cloudfile_domain_model_file.text3" />
		</td>
		<td>
			{file.text3}
		</td>
	</tr>
</table>